<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>especialidades</title>
    <link rel="stylesheet" href="../css/especialidades.css" />
  </head>
  <body>
    <div id="contenedor-grid">
      <header class="one">
        <nav class="botonera">
          <a href="../index.html">
            <img src="../img/header.png" alt="logo de la pagina" />
          </a>
          <ul>
            <li>
              <a href="#">promociones</a>
            </li>
            <li>
              <a href="#">nosotros </a>
            </li>
            <li>
              <a href="#">Contacto </a>
            </li>
          </ul>
        </nav>
        <div <p class="titulo">Nuestras Especialidades</div>
      </header>

      <main class="two">
        <div class="primerenvuelto">
          <div class="contenedor-fila">
            <div class="fila">
              <div class="oone">
                <p>ginecologia</p>
                <img
                  src="../img/ginecologia.jpg"
                  alt="imagen de oftamologia"
                  width="200"
                  height="200"
                />
              </div>

              <div class="twoo">
                <p>oftamologia</p>
                <img
                  src="../img/oftamologia.jpg"
                  alt="imagen de oftamologia"
                  width="200"
                  height="200"
                />
              </div>

              <div class="twreee">
                <p>dermatologia</p>
                <img
                  src="../img/dermatologia.jpg"
                  alt="imagen de dermatologia"
                  width="200"
                  height="200"
                />
              </div>
            </div>

            <div class="contenedor-fila">
              <div class="fila">
                <div class="maargin"></div>
                <div class="oone">
                  <p>traumatologia</p>
                  <img
                    src="../img/traumatologia.jpg"
                    alt="imagen de tarumatologia"
                    width="200"
                    height="200"
                  />
                </div>

                <div class="oone">
                  <p>odontologia</p>
                  <img
                    src="../img/odontologia.jpg"
                    alt="imagen de oftamologia"
                    width="200"
                    height="200"
                  />
                </div>

                <div class="twoo">
                  <p>medicina interna</p>
                  <img
                    src="../img/medicinainterna.jpg"
                    alt="imagen de medicinainterna"
                    width="200"
                    height="200"
                  />
                </div>
              </div>
            </div>
            <div class="contenedor-fila">
              <div class="fila">
                <div class="oone">
                  <p>pediatria</p>
                  <img
                    src="../img/pediatria.jpg"
                    alt="imagen de pediatria"
                    width="200"
                    height="200"
                  />
                </div>

                <div>
                  <p>gastrologia</p>
                  <img
                    src="../img/gastrologia.jpg"
                    alt="imagen de gastrologia"
                    width="200"
                    height="200"
                  />
                </div>
                <div>
                  <p>cirugia</p>
                  <img
                    src="../img/cirugia.jpg"
                    alt="imagen de cirugia"
                    width="200"
                    height="200"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>
      <div class="jalador">
        <section class="three">
          <p>suscribete</p>
          <img src="../img/header.png" alt="el logo de la page" width="300" />
        </section>
      </div>
      <section class="four">
        <footer>
          <a href="http:facebook.com">
            <img src="../img/logofacebook.jpg" alt="pagina face" />
          </a>
          <a href="http://www.twitter.com">
            <img src="../img/twiter.jpg" alt="pagina de twiter" />
          </a>
          <a href="https://www.instagram.com">
            <img src="../img/imstalogo.jpg" alt="es la pagina de imstagram" />
          </a>
        </footer>
      </section>
    </div>
  </body>
</html>
